.inline-text {
    display: inline-block;
}

.profile-details {
    margin-bottom: 0 !important;
}

.profile-options {
    display: flex;
    justify-content: space-between;
}

.author-icon {
    font-size: 0.875rem !important;
}