@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.profile-pic {
    width: 300px;
    height: 300px;
    border: 7px solid #A239EA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-name {
    font-family: 'Special Elite', cursive;
}

@media (max-width: 992px) and (min-width: 576px) {
    .profile-pic {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .profile-pic {
        width: 200px;
        height: 200px;
    }
}